* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background_color);
	margin: 0;
	padding: 0;
}
:root {
	--text_color: #000000;
	--primary_color: #322209;
	--background_color: #fffbfa;
	--hover_btn: #563b10;

	--h1: 34px;
	--h2: 24px;
	--h3: 20px;
	--h4: 16px;

	--feature_text: 18px;

	--bs: 12px;
	--bb: 12px;
	--bm: 14px;

	--sp_lr: 190px;
	--sp_gap: 60px;
	--sp_btw_section: 150px;
}

.h1 {
	font-size: var(--h1);
	font-weight: 600;
	text-transform: capitalize;
}

.h2 {
	font-size: var(--h2);
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.h3 {
	font-size: var(--h3);
	font-weight: 700;
	text-transform: capitalize;
}

.h4 {
	font-size: var(--h4);
	font-weight: 700;
	text-transform: capitalize;
}

.pb {
	font-size: var(--bb);
	font-weight: 100;
}

.pm {
	font-size: var(--bm);
	font-weight: 400;
}
.ps {
	font-size: var(--bs);
	font-weight: 400;
}

header {
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 10000;
	left: 0;
}

.body_container,
footer {
	margin-block: 0px;
	margin-inline: auto;
	max-width: 1400px;
}
section {
	margin-bottom: 100px;
	width: 100%;
}
.feature_text {
	color: white;
	font-size: var(--feature_text);
	font-weight: 500;
	text-transform: capitalize;
	word-wrap: nowrap;
	text-align: center;
}

.btn,
.submit {
	background-color: var(--primary_color);
	padding: 15px 30px;
	color: white;
	font-weight: 600;
	border-radius: 4px;
	outline: none;
	border: none;
	text-transform: uppercase;
	font-size: var(--bb);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.btn:hover {
	background-color: var(--hover_btn);
}

.submit:hover {
	background-color: var(--hover_btn);
}
:is(.btn, .submit):focus {
	outline: 1px solid var(--primary_color);
	border: 5px solid var(--background_color);
}

/* model//////////////////////////////////////////// */
.model {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;

	margin: auto;
	top: 0;
	background-color: #32220997;
	height: 100vh;
	width: 100%;
	z-index: 100011;
	transition: all 0.5s ease-in-out;
	padding-block: var(--sp_lr);
	padding-inline: var(--sp_lr);
	overflow: hidden;
	transform: translateX(-100%);
	opacity: 0;
}
.model.active {
	transform: translateX(0%);
	opacity: 10;
}

.model_content {
	background-color: var(--background_color);
	padding: var(--sp_lr);
	border-radius: 12px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}
.model h2 {
	color: var(--primary_color);
	font-weight: 500;
	margin: 0;
}

.skip-to-products {
	position: absolute;
	z-index: 100010;
	translate: 0% -100%;
	transition: translate 0.3s ease-in-out;
	opacity: 0;
}
.skip-to-products a {
	padding: 20px 25px;
	display: inline-block;
	border-radius: 8px;
	background-color: var(--primary_color);
	color: white;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 20px;
}
.skip-to-products a:focus {
	outline: 1px solid var(--primary_color);
	border: 5px solid var(--background_color);
}
.skip-to-products:has(a:focus) {
	translate: 0% 0%;
	opacity: 1;
}

/* header ---------------------------------------------------------------------------------*/

nav {
	padding-inline: var(--sp_lr);
	padding-block: 12px;
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s ease-in-out;
	background-color: var(--background_color);
	width: 100%;
}

.sticky {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.271);
}

.logo img {
	width: 130px;
}

ul {
	display: flex;
	list-style: none;
	gap: 28px;
}

ul a {
	display: inline-block;
	text-decoration: none;
	color: var(--primary_color);
	font-size: 12px;
	font-weight: 600;
	padding-bottom: 5px;
	width: 100%;
	position: relative;
	transition: 0.2s ease-in-out;
}

ul a::after {
	display: inline-block;
	content: "";
	height: 2px;
	width: 1%;
	opacity: 0;
	background-color: var(--primary_color);
	transition: 0.2s ease-in-out;
	position: absolute;
	bottom: -5px;
	left: 0;
}

.active::after {
	width: 100%;
	opacity: 100;
}
ul a:hover {
	color: var(--hover_btn);
}
ul a:hover::after {
	width: 100%;
	opacity: 100;
	background-color: var(--hover_btn);
}

.menu {
	font-size: 24px;
	background: transparent;
	display: none;
	border: none;
}
.menu .remove {
	display: none;
}

.top {
	width: auto;
	height: 0px;
	background-color: var(--primary_color);
	box-shadow: 0px 0px 8px rgba(91, 91, 91, 0.761);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	border-radius: 5px;
	bottom: 20px;
	color: white;
	right: 20px;
	z-index: 910;
	transition: 0.2s ease-in-out;
	font-size: 16px;
	overflow: hidden;
	border: none;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.top a {
	color: white;
	display: flex;
	align-items: center;
	gap: 20px;
	text-decoration: none;
	padding: 20px;
}
.backToTop {
	height: 50px;
}

.top:hover {
	background-color: var(--hover_btn);
}
/* hero section ------------------------------------------------------------------------------------*/
.hero_section {
	padding-inline: var(--sp_lr);
	padding-top: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--sp_gap);
}

.left_hero_section {
	width: 580px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
}
.left_hero_section .btn {
	margin-top: 20px;
}
.left_hero_section .btn a {
	text-decoration: none;
	color: var(--background_color);
}
.right_hero_section {
	position: relative;
}
.image_view {
	width: 580px;
	overflow: hidden;
	border-radius: 12px;
}
.image-wrapper {
	width: 580px;
	display: flex;
	transform: translate();
	transition: 1s ease-in-out;
}
.right_hero_section img {
	width: 500px;
	object-fit: cover;
}
.reels_indicator_contents {
	display: flex;
	align-items: center;
	gap: 10px;
	position: absolute;
	z-index: 10;
	transform: translate(-50%);
	background-color: #322209b7;
	padding: 8px;
	border-radius: 50px;
	bottom: 40px;
	margin-inline: 50%;
}
.reels_indicator {
	display: flex;
	gap: 5px;
}

.reels {
	height: 8px;
	width: 8px;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.686);
	transition: 0.5s ease-in-out;
}
.reel_active {
	width: 30px;
	background-color: rgba(255, 255, 255, 0.832);
}
.play-btn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.686);
	cursor: pointer;
	border: none;
}
.control {
	display: none;
	transition: 0.2s ease-in-out;
	fill: var(--primary_color);
	transition: 0.1s ease-in-out;
}

.control.active {
	display: block;
}
.control:hover {
	fill: var(--hover_btn);
}
/* about us-------------------------------------------------------------------------------- */

.about_us {
	background-color: var(--primary_color);
	padding-block: 100px;
	padding-inline: var(--sp_lr);
	display: flex;
	align-items: center;
	gap: var(--sp_gap);
}

.about_us_image img {
	width: 100%;
	border-radius: 12px;
}
.about_us_right {
	display: flex;
	width: 580px;
	flex-direction: column;
	gap: 40px;
	position: relative;
	align-items: start;
}

.about_us_text {
	display: inline-block;
	width: 350px;
}

.about_us_text_content {
	display: flex;
	flex-direction: column;
	color: white;
	gap: 40px;
}

.about_us_text_content span {
	color: white;
}
.about_us_right .metrics {
	background-color: var(--background_color);
	color: var(--primary_color);
	display: flex;
	border-radius: 12px;
}
.metrics span {
	text-align: center;
	margin: 15px 25px;
}

/* featured properties------------------------------------------------------------------------------ */

.featured_prop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding-inline: var(--sp_lr);
}

.featured_prop_card {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, auto));
	gap: 30px;
	width: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 10;
	background-color: white;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.271);
	transition: all 0.2s ease-in-out;
}
.card:hover {
	transform: scale(1.1);
}
.card_image {
	position: relative;
}
.card_image::before {
	content: "";
	width: 0%;
	height: 100%;
	background-color: var(--primary_color);
	position: absolute;
	opacity: 0.3;
	transition: all 0.2s ease-in-out;
}

.card:hover .card_image::before {
	width: 100%;
}
.card_image img {
	width: 100%;
}
.card_content {
	display: flex;
	gap: 40px;
	flex-direction: column;
	align-items: start;
	padding: 20px 15px;
}
.price_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.price_wrapper .prop_type {
	background-color: #208510;
	padding: 8px 16px;
	color: white;
	font-size: var(--bs);
	border-radius: 4px;
}

.price_wrapper .price span {
	font-size: 9px;
	font-weight: 400;
}

.price_wrapper .sale {
	background-color: #e8c63b;
}
.card_text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: start;
	padding: 15px 15px;
}
.card_desc {
	display: flex;
	gap: 6px;
	flex-direction: column;
}
.price_wrapper {
	display: flex;
	justify-content: space-between;
}

.card_specs {
	display: flex;
	align-items: center;
	gap: 20px;
}

.card_specs span {
	display: flex;
}

.card_specs .item {
	font-size: var(--bm);
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card_specs .item img {
	width: 24px;
	padding-right: 5px;
}
.card_specs .line {
	display: inline-block;
	height: 20px;
	width: 1px;
	background-color: var(--primary_color);
}

.featured_prop .feature_text {
	color: var(--primary_color);
	text-wrap: nowrap;
	font-size: var(--feature_text);
	text-align: center;
}

.more_properties a {
	display: inline-block;
	text-decoration: underline;
	color: rgb(86, 63, 220);
	font-size: 14px;
	font-weight: 600;
}

/* services ---------------------------------------------------------- */

.services {
	background-color: var(--primary_color);
	padding-block: 120px;
	padding-inline: var(--sp_lr);
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.services_content {
	display: flex;
	gap: var(--sp_gap);
	align-items: center;
}

.left_services {
	display: flex;
	gap: 40px;
	width: 500px;
	flex-direction: column;
}
.left_services .feature_text {
	color: white;
	font-size: var(--feature_text);
}
.left_services p,
h2,
.feature_text {
	color: white;
}

.right_services img {
	width: 100%;
	border-radius: 12px;
}

/* benefits ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.benefits {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}
.benefits .feature_text {
	color: white;
}

.benefits_wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 30px;
	/* flex-wrap: wrap; */
}

.b_card {
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;
	/* flex-wrap: nowrap; */
	justify-content: center;
	border-radius: 12px;
	padding-block: 80px;
	gap: 40px;
	background-color: var(--background_color);
}
.text_card {
	flex: 1fr;
	text-align: center;
	gap: 200px;
}
.b_card .image {
	width: 50px;
	height: 50px;
}
.b_card .image img {
	width: 100%;
}
.b_card h3 {
	padding-bottom: 8px;
}

/* why choose us---------------------------------- */

.why_choose_us {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}
.feature_text {
	color: var(--primary_color);
	font-size: var(--feature_text);
	text-wrap: nowrap;
}
.why_choose_us_content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, auto));
	gap: 30px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-inline: var(--sp_lr);
}

.why_us_card {
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.271);
	overflow: hidden;
}

.why_us_image img {
	width: 100%;
}
.why_us_text {
	text-align: center;
	padding: 20px 10px;
}
.why_us_text h3 {
	padding-bottom: 5px;
}

/* testimonial ------------------------------------------------------------------- */
.testimonial {
	display: flex;
	align-items: center;
	gap: calc(var(--sp_gap) / 2);
	padding-inline: var(--sp_lr);
	padding-top: 100px;
}

.test_left img {
	width: 100%;
	border-radius: 12px;
}

.test_right {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 800px;
}

.test_right_text h4 {
	font-size: var(--h2);
	font-style: italic;
	font-weight: 500;
	margin-bottom: 20px;
}
/* footer------------------------------------------------------------------	 */
.footer {
	display: flex;
	padding-inline: var(--sp_lr);
	flex-direction: column;
	background-color: var(--primary_color);
	margin-bottom: 0;
}

.footer_top {
	display: flex;
	gap: var(--sp_gap);
	padding-block: 100px;
	align-items: center;
}

.footer_content_left {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.footer_content_left .feature_text {
	text-align: center;
	color: white;
}

.footer_content_left h4 {
	font-size: 16px;
	font-weight: 400;
	color: white;
}

.footer_content_left p {
	color: white;
	padding-bottom: 5px;
}
.contact_info {
	display: flex;
	align-items: center;
	gap: 10px;
}

.footer_left_contact_info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.contact_info .icon_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background_color);
}
.contact_info .icon_img i {
	color: var(--primary_color);
	font-size: 18px;
}

.contact_info .icon_img img {
	width: 100%;
}
.footer_content_right {
	width: 100%;
}
form {
	padding-inline: 30px;
	padding-block: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 15px;
	border-radius: 12px;
	background-color: var(--background_color);
}
.input::placeholder {
	font-style: italic;
	font-weight: 400;
	font-size: 16;
	color: rgb(122, 122, 122);
}
form label {
	display: inline-block;
	width: 100%;
}
.input {
	display: inline-block;
	padding: 15px;
	outline: none;
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(216, 216, 216, 0.711);
}

.hr {
	background-color: var(--background_color);
	height: 1px;
	/* width: 960px; */
	width: 100%;
}
.error {
	color: red;
}

.success {
	border: 1px solid green;
}

/* footer bottom +++++++++++++++++++++++ */

.footer_bottom {
	display: flex;
	padding-block: 50px;
	align-items: center;
	width: 100%;
	gap: var(--sp_gap);
}

.footer_bottom_left {
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.footer_logo {
	width: 200px;
}
.footer_logo img {
	width: 100%;
}

.social_media_icon {
	display: flex;
	gap: 10px;
}

.social_media_icon li {
	display: inline;
}
.footer_bottom_right {
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-basis: 50%;
}
.copyright {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* ///////////////////////////////////////////////////////////////////////// */

@media (min-width: 1400px) {
	section {
		width: 1400px;
	}
	nav {
		width: 1400px;
		margin-inline: auto;
	}
}
@media (max-width: 1250px) {
	:root {
		--sp_lr: 90px;
		--h1: 30px;
	}
}
@media (max-width: 990px) {
	:root {
		--sp_lr: 70px;
	}

	nav ul {
		display: flex;
		list-style: none;
		gap: 22px;
	}
	.image-wrapper {
		width: 400px;
	}
	.image_view {
		width: 400px;
	}
}

@media (max-width: 850px) {
	.menu {
		display: block;
	}

	.nav_link {
		left: 0;
		top: 50px;
		position: absolute;
		width: 100%;
		background-color: rgb(255, 255, 255);
		padding: 0;
		height: 0;
		z-index: 1000;
		overflow: hidden;
		transition: 0.3s ease-in-out;
	}

	.nav_link ul {
		flex-direction: column;
	}

	.nav_link.active {
		padding: var(--sp_lr);
		height: 100vh;
	}

	.nav_link ul li a {
		padding-top: 30px;
		font-size: 20px;
	}
	.footer_content_right {
		flex-basis: 1000px;
	}
}

@media (max-width: 790px) {
	:root {
		--sp_lr: 30px;
		--sp_gap: 30px;
	}

	.image-wrapper {
		width: 400px;
	}
	.image_view {
		width: 400px;
	}
}

@media (max-width: 750px) {
	:root {
		--sp_lr: 20px;
		--sp_gap: 20px;
	}

	.image-wrapper {
		width: 350px;
	}
	.image_view {
		width: 350px;
	}
}
@media (max-width: 690px) {
	:root {
		--sp_lr: 30px;
		--sp_gap: 50px;
	}
	.about_us_text {
		width: 100%;
	}
	.about_us_right .metrics span {
		margin: 8px 15px;
	}
}
@media (max-width: 680px) {
	.hero_section {
		flex-direction: column;
		width: 100%;
	}

	.left_hero_section {
		width: 100%;
		align-items: center;
	}

	.about_us {
		flex-direction: column-reverse;
	}
	.about_us .about_us_right {
		width: 100%;
		align-items: center;
	}
	.about_us_text_content {
		flex-direction: column;
	}
	.about_us_text {
		width: 100%;
	}
	.about_us_right .metrics span {
		margin: 8px 15px;
	}
	.services_content {
		flex-direction: column;
	}
	.services_content .left_services {
		width: 100%;
		align-items: center;
	}

	.testimonial {
		padding-top: 0px;
		flex-direction: column-reverse;
	}
	.test_right {
		width: 100%;
		align-items: center;
	}

	.footer_top {
		flex-direction: column;
	}
	.footer_content_left {
		width: 100%;
	}

	.footer_content_right {
		flex-basis: auto;
	}
	.footer_bottom {
		flex-direction: column;
		text-align: center;
	}
	.footer_bottom_left {
		align-items: center;
	}
}

@media (max-width: 590px) {
	:root {
		--sp_lr: 20px;
		--sp_gap: 40px;
	}
	.b_card .image {
		width: 100px;
		height: 100px;
	}
}
@media (max-width: 380px) {
	.image-wrapper {
		width: 320px;
	}
	.image_view {
		width: 320px;
	}
}
/* error#################################### */
