* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

:root {
	--text_color: #000000;
	--primary_color: #2c310b;
	--background_color: #fffbfa;

	--h1: 34px;
	--h2: 24px;
	--h3: 20px;
	--h4: 16px;

	--feature_text: 18px;

	--bs: 11px;
	--bb: 12px;
	--bm: 13px;

	--sp_lr: 190px;
	--sp_btw_section: 150px;
}

.h1 {
	font-size: var(--h1);
	font-weight: 600;
	text-transform: capitalize;
}

.h2 {
	font-size: var(--h2);
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.h3 {
	font-size: var(--h3);
	font-weight: 700;
	text-transform: capitalize;
}

.h4 {
	font-size: var(--h4);
	font-weight: 700;
	text-transform: capitalize;
}

.pb {
	font-size: var(--bb);
	font-weight: 100;
}

.pm {
	font-size: var(--bm);
	font-weight: 400;
}
.ps {
	font-size: var(--bs);
	font-weight: 400;
}

.feature_text {
	text-decoration: underline;
	color: white;
	font-size: var(--feature_text);
	font-weight: 500;
}

.btn {
	background-color: var(--primary_color);
	padding: 10px 30px;
	color: white;
	font-weight: 600;
	border-radius: 4px;
	outline: none;
	border: none;
	text-transform: uppercase;
	font-size: var(--bb);
}

body {
	scroll-behavior: smooth;
	background-color: var(--background_color);
}
section {
	margin-block: 100px;
}

/* header ---------------------------------------------------------------------------------*/

nav {
	padding-inline: var(--sp_lr);
	padding-block: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: 130px;
}
ul {
	display: flex;
	list-style: none;
	gap: 28px;
}

a {
	display: inline-block;
	text-decoration: none;
	color: var(--primary_color);
	font-size: 12px;
	font-weight: 600;
	padding-bottom: 8px;
}

.active {
	border-bottom: 2px solid var(--primary_color);
	padding-bottom: 8px;
}

/* a:active {
	border-bottom: 2px solid var(--primary_color);
} */
/* hero section ------------------------------------------------------------------------------------*/
.hero_section {
	margin-inline: var(--sp_lr);
	margin-block: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.left_hero_section {
	width: 580px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
}
.left_hero_section .btn {
	margin-top: 20px;
}
.right_hero_section {
	position: relative;
}
.right_hero_section img {
	width: 100%;
	border-radius: 12px;
}
.reels_indicator {
	display: flex;
	position: absolute;
	z-index: 10;
	gap: 5px;
	bottom: 40px;
	margin-inline: 50%;
	transform: translate(-50%);
}

.reels {
	height: 8px;
	width: 8px;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.686);
}
.reels:nth-child(1) {
	width: 30px;
	background-color: rgba(255, 255, 255, 0.832);
}

/* about us-------------------------------------------------------------------------------- */

.about_us {
	background-color: var(--primary_color);
	padding-block: 120px;
	padding-inline: var(--sp_lr);
	display: flex;
	align-items: center;
	gap: 60px;
}

.about_us_image img {
	width: 100%;
	border-radius: 12px;
}
.about_us_right {
	display: flex;
	width: 580px;
	flex-direction: column;
	gap: 40px;
	position: relative;
	align-items: start;
}

.about_us_text {
	display: inline-block;
	width: 350px;
}

.about_us_text p,
h2,
.feature_text {
	color: white;
}
.about_us_right .metrics {
	background-color: var(--background_color);
	color: var(--primary_color);
	display: flex;
	border-radius: 12px;
}
.metrics span {
	text-align: center;
	margin: 15px 25px;
}

/* featured properties------------------------------------------------------------------------------ */

.featured_prop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.featured_prop_card {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.card {
	width: 370px;
	display: flex;
	flex-direction: column;
	gap: 10;
	background-color: white;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.271);
}

.card_image img {
	width: 100%;
}
.card_content {
	display: flex;
	gap: 40px;
	flex-direction: column;
	align-items: start;
	padding: 20px 15px;
}
.price_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.price_wrapper .prop_type {
	background-color: #40cc29;
	padding: 8px 16px;
	color: white;
	font-size: var(--bs);
	border-radius: 4px;
}

.price_wrapper .price span {
	font-size: 9px;
	font-weight: 400;
}

.price_wrapper .sale {
	background-color: #cca829;
}
.card_text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: start;
	padding: 15px 15px;
}
.card_desc {
	display: flex;
	gap: 6px;
	flex-direction: column;
}
.price_wrapper {
	display: flex;
	justify-content: space-between;
}

.card_specs {
	display: flex;
	align-items: center;
	gap: 20px;
}

.card_specs span {
	display: flex;
}

.card_specs .item {
	font-size: var(--bm);
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card_specs .item img {
	width: 24px;
	padding-right: 5px;
}
.card_specs .line {
	display: inline-block;
	height: 20px;
	width: 1px;
	background-color: var(--primary_color);
}

.featured_prop .feature_text {
	color: var(--primary_color);
	text-decoration: underline;
	font-size: var(--feature_text);
}

.more_properties a {
	display: inline-block;
	text-decoration: underline;
	color: rgb(86, 63, 220);
	font-size: 14px;
	font-weight: 600;
}

/* services ---------------------- */

.services {
	background-color: var(--primary_color);
	padding-block: 120px;
	padding-inline: var(--sp_lr);
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.services_content {
	display: flex;
	gap: 60px;
	align-items: center;
}

.left_services {
	display: flex;
	gap: 40px;
	width: 500px;
	flex-direction: column;
}
.left_services .feature_text {
	text-decoration: underline;
	color: white;
	font-size: var(--feature_text);
}
.left_services p,
h2,
.feature_text {
	color: white;
}

.right_services img {
	width: 100%;
	border-radius: 12px;
}

/* benefits +++++++++++++ */

.benefits {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}

.benefits_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.b_card {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	padding-block: 80px;
	gap: 40px;
	background-color: var(--background_color);
}
.text_card {
	text-align: center;
	gap: 200px;
}
.b_card .image {
	width: 50px;
	height: 50px;
}
.b_card .image img {
	width: 100%;
}
.b_card h3 {
	padding-bottom: 8px;
}

/* why choose us---------------------------------- */

.why_choose_us {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.feature_text {
	color: var(--primary_color);
}
.why_choose_us_content {
	display: flex;
	gap: 40px;
}

.why_us_card {
	width: 290px;
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.271);

	overflow: hidden;
}
.why_us_image img {
	width: 100%;
}
.why_us_text {
	text-align: center;
	padding: 20px 10px;
}
.why_us_text h3 {
	padding-bottom: 5px;
}
